h1,h2,h3,h4,h5,h6{
    color: red;
    background-color: aqua;
    width: 20%;
    text-align: center;
    padding: 20px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px 40px;
    margin: 20px;
    box-shadow: 0px 0px 10px green;

}