/* element selector */
p{
    border: 1px solid gray;
    width: 20%;
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
    margin: 30px;
     text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    box-shadow: 0px 0px 20px black;
}
/* class selector */
.c1{
    background: linear-gradient(90deg,red,green);
}
/* id selector */
#id1{
    background: linear-gradient(45deg,yellow,blue);
}
/* class selector */
.c2{
    background: linear-gradient(60deg,blue,beige);
}